.imdb-rating {
  position: absolute;
  font-size: 1rem;
  z-index: 3;
  right: 0;
  padding: 0.2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #000;
  background-color: #f5c518;
  pointer-events: none;
}

/* Ensure no rating overlap on hover for "see more" type pages */
.tst-hover-container > .imdb-rating {
  z-index: 1;
}

/* Search result items */
.s-result-item .imdb-rating {
  right: initial;
  margin-left: 12px;
  margin-top: 39px;
}

.av-grid-wrapper ._249xJW:hover .tst-hover-container {
  z-index: 5;
}
