.imdb-rating {
  position: absolute;
  font-size: 1rem;
  z-index: 3;
  right: 0;
  padding: 0.2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #000;
  background: #f5c518;
  transition: opacity 150ms;
  pointer-events: none;
}

.s-result-item .imdb-rating {
  right: initial;
  margin-left: 12px;
  margin-top: 39px;
}

.av-grid-wrapper ._249xJW:hover .tst-hover-container {
  z-index: 5;
}
